<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="trafficLights.dsl.stateMachine.design.Activator"
               id="trafficLights.dsl.stateMachine.design"
	       name="stateMachine">
    </component>
  </extension>
</plugin>
